.bulk_sms
  flex-grow 1
  background-color var(--white-color)
  padding 0.5rem 1rem 4.5rem
  header
    display flex
    align-items center
    justify-content space-between
    .recipients
      font-size 1.125rem
      font-weight 500
    .amt_clients
      font-size 1rem
      color var(--dark-color)
      .add_clients_btn
        border-radius 50%
        background-color transparent
        background-color var(--sec-color)
        -moz-margin-start 0.75rem
        -webkit-margin-start 0.75rem
        padding-margin-start 0.75rem
        padding 0
        border 0
        outline none
        width 2.375rem
        height 2.375rem
