.failed-header
  background-color darkslateblue
  height 50px
  border-top-left-radius 10px
  border-top-right-radius 10px
  img
    display inline-block
    width 30px
    margin 10px
    transform rotate(45deg)
  h1
    display inline-block
    width 280px
    margin-top 15px
    text-align center
    color white
    font-weight 500
  .pd-l
    padding-left 54px
  .pd-r
    padding-right 54px
.failed-body
  padding 10px 5px
  height 120px
  h1
    text-align center
    padding-top 40px
    width 100%
    color grey
.failed-footer
  height 60px
  background-color silver!important
  button
    height 100%
    width 100%
    background-color white
    border 1px solid silver
    border-bottom-left-radius 10px
    border-bottom-right-radius 10px
    color grey
    &:focus
      outline none
