.templates-header
  background-color darkslateblue
  height 50px
  border-top-left-radius 10px
  border-top-right-radius 10px
  img
    display inline-block
    width 30px
    margin 10px
    transform rotate(45deg)
  h1
    display inline-block
    width 280px
    margin-top 15px
    text-align center
    color white
    font-weight 500
  .pd-l
    padding-left 54px
  .pd-r
    padding-right 54px
.templates-body
  padding 10px 5px
  max-height 470px
  overflow-y scroll
  .data
    display inline-block
    padding 5px 10px
    font-weight 600
    width 100%
    border-bottom 1px solid grey
    .name
      text-align start
      color #00b6fb
      height 20px
    .text
      text-align start
      color #6b6b6b
      height 40px
      width 100%
      line-height 20px
      text-overflow ellipsis
      overflow hidden
      .tag
        background-color lightblue
        border-radius 5px
        padding 0.5px 5px
        white-space nowrap
    .tags
      text-overflow ellipsis
      white-space nowrap
      overflow hidden
      color #00b6fb
      height 20px
.to-templates
  width 100%
  padding 10px 0 20px 0
  a
    display block
    background-color white
    border 2px solid aqua
    border-radius 20px
    color aqua
    margin 0 auto
    height 40px
    user-select none
    width 80%
    text-align center
    font-size 22px
    text-decoration none
    padding-top 2px
    &:focus
      outline none
