#create-body
  padding 5px 15px
  h1
    color #6b6b6b
  .name
    padding-bottom 3px
  input
    border 2px solid grey
    border-radius 7px
    width 100%
    height 40px
    color grey
    padding 0 5px
    &:focus
      outline none
  .text
    padding 5px 0 3px 0
  .text-input
    border 2px solid grey
    border-radius 7px
    overflow-y scroll
    font-size 21px
    padding 0 5px
    height 120px
    width 100%
    &:focus
      outline none
    .tag
      background-color lightblue
      border-radius 5px
      padding 0.5px 5px
  .tags
    padding 5px 0 3px 0
  .tag-list
    font-size 12px
    border none
    border-radius 5px
    margin 2px 5px
    background-color lightblue
    &:focus
      outline none
