#success-body
  padding 10px 5px
  height 120px
  h1
    text-align center
    padding-top 40px
    width 100%
    color yellowgreen
#success-footer
  .modal-footer
    height 60px
    background-color silver!important
    button
      height 100%
      width 100%
      background-color white
      border 1px solid silver
      border-bottom-left-radius 10px
      border-bottom-right-radius 10px
      color grey
      &:focus
        outline none
