#message
  .ch475
    height 475px
  .ch450
    height 450px
  .message
    padding 30px
    .load-templates
      width 100%
      padding 0 0 20px 0
      button
        display block
        background-color white
        border 2px solid aqua
        border-radius 20px
        color aqua
        margin 0 auto
        height 40px
        user-select none
        width 100%
        &:focus
          outline none
    h1
      text-align start
      color #6b6b6b
    .text-input
      border 2px solid grey
      border-radius 7px
      overflow-y scroll
      overflow-x hidden
      font-size 21px
      padding 0 5px
      height 120px
      width 100%
      &:focus
        outline none
      .tag
        display inline-block
        background-color lightblue
        border-radius 5px
        padding 0.5px 5px
        user-select none
        white-space nowrap
    .tags
      padding 5px 0 3px 0
    .tag-list
      font-size 12px
      border none
      border-radius 5px
      margin 2px 5px
      background-color lightblue
      &:focus
        outline none
  .preview-content
    width 100%
    padding 30px
    .content
      width 100%
      height 380px
      border 2px solid grey
      border-radius 7px
      overflow-y scroll
      font-size 21px
      padding 0 5px
      &:focus
        outline none
  .preview-wrap
    width 100%
    margin 0 auto
    padding 0 0 30px 0
    .preview
      display block
      position relative
      background-color white
      border 2px solid aqua
      border-radius 15px
      padding-right 30px
      color aqua
      margin 0 auto
      height 30px
      user-select none
      width 150px
      &:focus
        outline none
      img
        position absolute
        width 20px
        margin 3px 5px
    .preview-active
      background-color aqua!important
      color white!important
  .buttons
    width 100%
    button
      width 50%
      height 60px
      display inline-block
      border none
    .cancel
      background-color rgb(176,196,153)
    .send
      background-color yellowgreen
.counter
  padding 5px 0 0 0
  width 100%
  text-align start
  font-size 16px
  color grey
.message-text
  color red!important
  font-size 12px
  width 100%
